<h1><%= @auction.title %></h1>
<p><%= @auction.description %></p>
<% if @auction.draft? %>
  <p>
    Auction is in draft mode
    <%= link_to 'Publish', auction_publishings_path(@auction),
                           method: :post,
                           data: { confirm: 'Are you sure?' } %>
  </p>
<% elsif @auction.published? %>
  <p>auction is ready to be bid on</p>

  <p> current bid is : <%= @auction.bids.maximum(:amount) || 'none' %> </p>
    <br>
  <p> how much do you bid? </p>
    <%#= link_to 'Bid', auction_bids_path(@auction), method: :post %>
    <%= simple_form_for [@auction, @bid]  do |f| %>
    <%= f.input :amount,
     input_html: { min: @auction.bids.maximum(:amount).to_f + 1 || @auction.min_price } %>
    <%= f.submit "Approve", 
     data: { confirm: 'Are you sure?' }, action: :bid %>
  <% end %>

<% end %>
